{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "preserve"
      }
    }
  ]
}
